.body {
  margin: 0;
  background-color: #ebf2f7;
}
.parent {
  width: 100%;
  height: 100vh;
  background-color: #ebf2f7;
}
.container {
  max-width: 100%;
  width: 1440px;
  margin-inline: auto;
  background-color: #ebf2f7;
  height: 100%;
}
.container-inner {
  display: flex;
  height: 100vh;
  background-color: #ebf2f7;
}
.sidebar {
  /* width: 391px; */
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ebf2f7;
  flex-direction: column;
  gap: 20px;
  /* padding-top: 70px; */
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border: solid 1px #18274b24;
}
.sidebarWidthNormal {
  width: 391px;
}
.sidebarWidthExpanded {
  width: 1129px;
  position: fixed;
  z-index: 10;
}
.sidebBarBoxOne {
  width: 278px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 8px;
  justify-content: center;
}
.sideBarboxOneHeight {
  height: 77px;
  margin-top: 50px;
}
.sideBarboxTwoHeight {
  height: 161px;
  flex-direction: column;
  gap: 12px;
}
.sidebarBoxImage {
  border-radius: 50%;
  height: 51px;
  width: 51px;
  overflow: hidden;
}
.sideBarImageCommon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sideBarContentCommon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.personName {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: start;
}
.personDesc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0%;
  margin: 0;
  gap: 10px;
  text-align: start;
}
.toggleText {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0;
  margin: 0;
}
.toggleButtonsParent {
  width: 215px;
  height: 78px;
  border-radius: 8px;
  background-color: #ebf2f7;
  display: flex;
  overflow: hidden;
}
.toggleButtonCommon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  flex-direction: row;
}
.toggleButtonOne {
  background-color: #ebf2f7;
  width: 50%;
}
.toggleButtonTwo {
  background-color: #a3ffd3;
  width: 50%;
}
.toggleBtns {
  width: 45px;
  height: 34px;
}
.ListeningBtn {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  color: #272727;

  border-radius: 8px;
  height: 58px;
  border-width: 0px;
  width: 229px;
}

.ListeningBtnColorNormal {
  background-color: #a3ffd3;
}
.ListeningBtnColorExpanded {
  background-color: #ffafaf;
}
.sidebarInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.sidebarInnerOne {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ----------------------------- */
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-top: 72px; */
  height: 100%;
  background-color: #ebf2f7;
  width: 100%;
}
.cardParent {
  width: 100%;
  /* padding-inline: 30px; */
  height: 123px;
  display: flex;
  /* justify-content: space-between; */
  gap: 33px;
  align-items: center;
}
.card {
  border-radius: 20px;
  background-color: #fff;
  height: 100%;
  width: 85%;
  margin-left: 30px;
}
.status {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statusSvg {
  height: 22px;
  width: 22px;
  overflow: hidden;
}
.card-inner {
  width: 100%;
  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cardImageParent {
  height: 67px;
  width: 67px;
  overflow: hidden;
  border-radius: 50%;
}
.cardImage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.cardHeading {
  font-weight: 700;
  margin: 0;
  font-size: 20px;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  width: 94%;
  color: #212121;
}
.cardDesc {
  margin: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 83%;
  color: #212121;
}
.cardTimeStamp {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  color: #b9b9b9;
}
.cardImageInner {
  width: 100%;
}
.margintop {
  margin-top: 50px;
}
/* --------pagination buttons---------- */
.pagination {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.paginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border-width: 0px;
}
.paginationButtonNormal {
  background-color: #fff;
  color: #6d6d6d;
  border: solid 1px #18274b24;
  height: 42px;
  width: 42px;
}
.paginationButtonActive {
  background-color: #bcbcbc;
  color: white;
  height: 32px;
  width: 32px;
}
/* -----box style------- */
.box {
  background-color: white;
  border-radius: 20px;
  height: 313px;
  width: 274px;
  position: relative;
}
.boxHeading {
  color: black;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 20px;
  line-height: 100%;
  padding-top: 20px;
  padding-inline: 20px;
}

.boxDescription {
  color: black;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 16px;
  line-height: 100%;
  padding-top: 10px;
  padding-inline: 20px;
}
.boxTimestamp {
  color: #b9b9b9;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 16px;
  line-height: 100%;
  padding-inline: 20px;
}
.cardImageSizing {
  height: 122px;
  width: 224px;
  overflow: hidden;
  padding-inline: 20px;
}
.cancelCardButton {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
  background-color: transparent;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4%;
  right: 5%;
}
.cancelCardIcon {
  height: 100%;
  width: 100px;
  object-fit: cover;
}
.boxInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.squareBox {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
}
/* -------modal styling---------- */
.ModalImageParent {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 5px solid #434343;
  border-radius: 20px;
}
.ModalImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.ReactModal__Overlay {
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  background-color: transparent !important;
}

/* .ReactModal__Overlay--after-open {
  opacity: 1;
} */

.ReactModal__Content {
  position: static !important;
  inset: auto !important;
  border: none !important;
  background: transparent !important;
  overflow: visible !important;
  border-radius: 0 !important;
  outline: none !important;
  padding: 0 !important;
}
/* -----sidebar expanded form styling------------ */
.expandedHeading {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: start;
}
.expandedPara {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: start;
  line-height: 179%;
}
.inputLabelCommon {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: start;
  color: #272727;
}
.inputFirstName {
  border-width: 0;
  height: 43px;
  width: 346px;
  border-radius: 8px;
  margin-top: 5px;
}
.texarea {
  height: 123px;
}
.sbtFeedbackBtn {
  background-color: #5cc8a1;
  width: 231px;
  height: 46px;
  border-radius: 8px;
  color: white;
  border-width: 0;
  margin-top: 20px;
}
.inputFeilds {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  overflow: scroll;
  height: 500px;
}
::-webkit-scrollbar {
  display: none;
}
/* -----------experimental--------------- */
.app-container {
  min-height: 100vh;
  transition: filter 0.3s ease-in-out;
}

.blurred-background .content-to-blur {
  position: relative;
  filter: blur(5px);
}
.background-blur-layer {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */

  background-color: #f0f0f0;
  transition: filter 0.3s ease-in-out;
  z-index: 1;
}
.content-to-blur {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease-in-out;
}

.content-layer {
  /* position: relative; */
  z-index: 2;
  padding: 20px;
}
